<?xml version="1.0"?>
<launch>
  <arg name="device"    default="/dev/video0"/>
  <arg name="width"     default="1280"/>
  <arg name="height"    default="720"/>
  <arg name="input_topic" default="/theta_s_uvc/image_raw"/>
  <arg name="output_topic" default="image_out"/>

  <node name="dynamic_reconfigure_load" pkg="dynamic_reconfigure" type="dynparam" args="load reprojection $(find reprojection)/params/dual_fisheye_left.yaml" />
  <node pkg="reprojection" type="reprojection"
    name="reprojection" output="screen">    
      <param name="width"           value="$(arg width)"/>
      <param name="height"          value="$(arg height)"/>
      <param name="vertex_shader" 	value="$(find opengl_ros_lib)/shader/vs_passthrough.glsl"/>
      <param name="fragment_shader" value="$(find reprojection)/shader/reprojection.frag"/>
      <param name="image_in" 		    value="$(arg input_topic)"/>
      <param name="image_out" 		  value="image"/>
  </node>

  <node pkg="image_view" type="image_view" name="viewer_in">
    <remap from="image" to="$(arg input_topic)"/>
  </node>

  <node pkg="image_view" type="image_view" name="viewer_out">
    <remap from="image" to="/image"/>
  </node>
</launch>
